
/* Reply to */
.attachedBars-2BCP3l {
    margin-bottom: 6px;
    border-radius: 100px;
    background: var(--background-secondary);
    border-top-right-radius: 100px;
    border-top-right-radius: 100px;
    top-right-radius: 100px;
}

/* Text Input */

.replyLabel-WWnhHi {
    margin-top: 4px;
}

.scrollableContainer-15eg7h {
    border-radius: 30px;
    }
  
.replyBar-1oi75v {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
