#vc-spotify-player {
    font-family: 'Noto Sans';
    border-bottom: transparent!important;
    margin: 7px;
    border-radius: 10px;
}

#vc-spotify-album-image {
    border-radius: 5px;
}

#vc-spotify-song-title {
    margin: 1px;
}

.panels-3wFtMD {
    border-radius: 15px;
}
